.post {
  border: 1px black solid;
  border-radius: 12px;
  width: 175px;
  height: auto;
  background-color: "red";
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #023047;
  color: aliceblue;
  margin-bottom: 10px;
}
.post button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
}

.PostDetails {
  border: black;
  border-radius: 0%;
  width: 200px;
  height: 100px;
}
.Backgroud {
  background-color: #afc4cf;
}
.likeBox {
  display: flex;
  margin: -20px;
  justify-content: space-around;
  width: 100%;
}
.Posty {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
